body {
    background-color: #f8f8f8;
}

.table {
    text-align: center;
}

h1, h2 {
    color: black;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}

.catalog {
    background-color: #eaeaea; 
}

.menu li a:hover {
    color: #efa53e;
}

.menu li a:active {
color: red;
}

.menu .new:after {
content: " new - в разработке";
color: #ff305d;
}

.menu li {
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}

.menu li a {
    list-style-type: none;
    color: #8B00FF;
}

p:first-letter {
    color: firebrick;
    font-size: 20px;
}

p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

a {
    color: #990000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
ul {
    list-style: none;
}

table { /*Внешняя граница таблицы*/
    border: 1px solid #000;
    width: 450px;
    height: 220px;
}

td { /*Границы для ячеек таблицы*/
    border: 1px solid grey;
}

.col3 {
    width: 30px;
    text-align: center
}
.spec li{
    color: dimgrey;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    list-style: none;
    background: url(img/marker_purple.png) no-repeat;
    padding-left: 24px;
/*    list-style-image: url(img/marker_purple.png);*/
    border-radius: 7px;
    box-shadow: rgba(0,0,0,5.2) 0px 1px 3px;
}
.form_c input:first-letter{
    font-size: 20px;
}

.form_c input {
    text-transform: capitalize;  
    color: orangered;
    background-color:blanchedalmond;
    margin: 0px 15px 7px 70px;
    height: 20px;
    width: 300px;
    font-style: oblique;
}
.arin {
    color: orangered;
    background-color:blanchedalmond;
    font-style: oblique;
}

.img {
    outline: 4px solid #909090;
    outline-style: outset;
    padding: 8px 0px 0px 8px;
}